In [1]:
import time
import pandas as pd
from sqlalchemy import create_engine

In [2]:
df = pd.read_csv('./taxi_zone_lookup.csv', nrows=100)

In [3]:
df

    LocationID        Borough                       Zone service_zone
0            1            EWR             Newark Airport          EWR
1            2         Queens                Jamaica Bay    Boro Zone
2            3          Bronx    Allerton/Pelham Gardens    Boro Zone
3            4      Manhattan              Alphabet City  Yellow Zone
4            5  Staten Island              Arden Heights    Boro Zone
..         ...            ...                        ...          ...
95          96         Queens  Forest Park/Highland Park    Boro Zone
96          97       Brooklyn                Fort Greene    Boro Zone
97          98         Queens              Fresh Meadows    Boro Zone
98          99  Staten Island            Freshkills Park    Boro Zone
99         100      Manhattan           Garment District  Yellow Zone

[100 rows x 4 columns]

In [4]:
engin = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [5]:
df.head(0).to_sql(name='yellow_taxi_data', con=engin, if_exists='replace')

0

In [6]:
df_iter = pd.read_csv('./yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000)

In [7]:
total =0
for df in df_iter:
    s_time = time.time()
    total += len(df)
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    df.to_sql(name='yellow_taxi_data', con=engin, if_exists='append')
    e_time = time.time()
    print(f' insterted another chunck {e_time - s_time :0.2f} seconds, Total={total}')

 insterted another chunck 10.57 seconds, Total=100000
 insterted another chunck 10.95 seconds, Total=200000
 insterted another chunck 10.83 seconds, Total=300000
 insterted another chunck 10.65 seconds, Total=400000
 insterted another chunck 11.23 seconds, Total=500000
 insterted another chunck 11.40 seconds, Total=600000
 insterted another chunck 11.18 seconds, Total=700000
 insterted another chunck 11.00 seconds, Total=800000
 insterted another chunck 11.14 seconds, Total=900000
 insterted another chunck 10.91 seconds, Total=1000000
 insterted another chunck 11.98 seconds, Total=1100000
 insterted another chunck 11.14 seconds, Total=1200000

C:\Users\Edin\AppData\Local\Temp\ipykernel_1992\2090738266.py:2: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  for df in df_iter:

 insterted another chunck 11.83 seconds, Total=1300000
 insterted another chunck 7.72 seconds, Total=1369765

In [1]:
# "Borough"	"count"
# "Manhattan"	5575
# "Brooklyn"	4458
# "Queens"	4393
# "Bronx"	1308
# "Staten Island"	9

Mannhattan = 5575
Brooklyn = 4458
Queens = 4393
Bronx = 1308
Staten_Island = 9

# "Brooklyn" "Manhattan" "Queens"
# "Bronx" "Brooklyn" "Manhattan"
# "Bronx" "Manhattan" "Queens"
# "Brooklyn" "Queens" "Staten Island"

print(f'Brooklyn + Manhattan + Queens = {Brooklyn + Mannhattan + Queens}')
print(f'Bronx + Brooklyn + Manhattan = {Bronx + Brooklyn + Mannhattan}')
print(f'Bronx + Manhattan + Queens = {Bronx + Mannhattan + Queens}')
print(f'Brooklyn + Queens + Staten Island = {Brooklyn + Queens + Staten_Island}')

Brooklyn + Manhattan + Queens = 14426
Bronx + Brooklyn + Manhattan = 11341
Bronx + Manhattan + Queens = 11276
Brooklyn + Queens + Staten Island = 8860